:root {
  --color-primary: #004ac6;
  --color-secondary: #c3c6d7;
  --color-tertiary: #434655;
  --color-error: #ff4d4f;
}

.suspense-title {
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 500;
}
